
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    <h1>ERİŞİM ENGELLENDİ!</h1>
    <h3>Bu sayfaya erişiminiz bulunmamaktadır.Bu sayfaya sadece yönetici izni olan kullanıcılar erişebilmektedir.
    <h4> Eğer yönetici iseniz şifreniz yada kullanıcı adınız yanlış ise sıfırlama süreçlerini işletmelisiniz.</h3>
</body>
</html>
