<div style="margin-left:800px;">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244940.66449470277!2d32.582520690130046!3d39.92083004251273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f72aa8c6f91%3A0x6437962ddc95d961!2sAnkara!5e0!3m2!1str!2str!4v1698768123456!5m2!1str!2str"
		width="600"
		height="450"
		style="border:0;"
		allowfullscreen=""
		loading="lazy"
		referrerpolicy="no-referrer-when-downgrade">
</iframe>

<div class="col-mt-7">
    <i class="bi bi-geo-alt-fill">Adres: Ankara/Türkiye</i>
    <br />
    <br />
    <i class="bi bi-envelope-at-fill">Mail Adresimiz: </i>
    <br />
    <br />
    <i class="bi bi-telephone-fill"> Telefon: 850 552 54 65</i>
    <br />
    <br />
    <i class="bi bi-whatsapp">Whatsapp İhbar Hattı: 0506 588 52 55</i>
    <br />
    <br />
    <i class="bi bi-instagram">İnstagram</i>
    <br />
    <br />
    <i class="bi bi-twitter-x">X Hesabımız: </i>

</div>
</div>